  <style>

    .content-wrapper {
      flex: 1;
      min-height: 10px;
    }

    footer {
      width: 100%;
      position: fixed;
      bottom: 0;
      background-color: rgb(241, 229, 229);
      z-index: 9999;
    }

    .nav-link {
      color: #b3b3b3;
      font-size: 0.75em;
      padding: 0.5em 1em;
      line-height: 1.2;
    }

    .nav-link.active {
      color: #1db954;
    }

    .nav-item .fa {
      font-size: 1.5em;
      color: #000000;
      /* Set icon color to black */
    }

    .nav-item:not(:last-child) {
      margin-right: 1em;
    }

    .dropdown-toggle {
      color: #b3b3b3;
      font-size: 0.75em;
      padding: 0.5em 1em;
      line-height: 1.2;
    }

    .dropdown-toggle.active {
      color: #1db954;
    }

    .dropdown-item {
      color: #b3b3b3;
      font-size: 0.75em;
      padding: 0.5em 1em;
      line-height: 1.2;
    }

    .dropdown-item.active {
      color: #1db954;
    }

    .light-mode .nav-item .fas{
      color: #7b917d;
      /* Set icon color to black in light mode */
    }

    li.nav-item.text-center a.nav-link:hover{
      color: #c57b57;
    }

    button.btn.btn-secondary.dropdown-toggle.dropdown-item.nav-link:hover {
      color: #c57b57;

    }
  </style>

  <footer class="d-flex justify-content-around py-2">
    <ul class="nav nav-pills flex-row">
      <li class="nav-item text-center"><a href="/" class="nav-link" aria-current="page"><i
            class="fas fa-home"></i><br>Home</a></li>
      <li class="nav-item text-center"><a href="/profile" class="nav-link"><i class="fas fa-user"></i><br>Profile</a>
      </li>
      <li class="nav-item text-center"><a href="/chatbot" class="nav-link"><i class="fas fa-comments"></i><br>TLDR</a>
      </li>
      <li class="nav-item text-center"><a href="/favourites" class="nav-link"><i
            class="fas fa-heart"></i><br>Favourites</a></li>
      <li class="nav-item text-center">
        <!-- Settings dropdown -->
        <div class="btn-group dropup">
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-item nav-link"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-cog"></i>
            <br>
            Settings
          </button>
          <ul class="dropdown-menu">
            <li class="nav-item text-center dropdown-item" id="lightMode"><i class="fas fa-sun"></i><br>Light Mode</li>
            <li class="nav-item text-center dropdown-item" id="darkMode"><i class="fas fa-moon"></i><br>Dark Mode</li>
            <li class="nav-item text-center"><a href="/logout" class="dropdown-item"><i
                  class="fas fa-sign-out-alt"></i><br>Logout</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </footer>
  <script src="/JS/background.js"></script>
</body>

</html>