<%- include("templates/header") %>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center">Page not found - 404</h1>
    </div>
  </div>
</div>
<%- include("templates/footer") %>