<% if (!req.session.authenticated) { %>
  <% res.redirect('/login'); %>
<% } %>
<%- include("templates/header") %>
<link rel="stylesheet" href="/styles/heart.css" />
<link rel="stylesheet" href="/styles/scrollbar.css" />
<link rel="stylesheet" href="/styles/favourites.css" />

<!--Google Fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Pridi:wght@200&display=swap" rel="stylesheet"/>   

<!--Index.CSS Stylesheet-->
<link rel="stylesheet" href="/styles/index.css" />

        <div class="container-fluid">
          <div class="accordion content" id="accordionExample" style="height: 100vh; overflow-y: auto;">
            <!-- Accordion items will be dynamically added/removed here -->
          </div>
        </div>
        <script src="/js/favourites.js"></script>
        <script src="/JS/background.js"></script>
<%- include("templates/footer") %>