<% if (!req.session.authenticated) { %>
  <% res.redirect('/login'); %>
<% } %>
<%- include("templates/header") %>
<link rel="stylesheet" href="/styles/heart.css" />
<link rel="stylesheet" href="/styles/scrollbar.css" />
<link rel="stylesheet" href="/styles/favourites.css" />

        <div class="container-fluid">
          <div class="accordion" id="accordionExample" style="height: 100vh; overflow-y: auto;">
            <!-- Accordion items will be dynamically added/removed here -->
          </div>
        </div>
        <script src="/js/favourites.js"></script>
        <script src="/JS/background.js"></script>

</body>
</html>