<% if (!req.session.authenticated) { %>
  <% res.redirect('/login'); %>
<% } %>
<%- include("templates/header") %>
<link rel="stylesheet" href="/styles/heart.css" />
        <link rel="stylesheet" href="/styles/scrollbar.css" />
        <link rel="stylesheet" href="/styles/favourites.css" />

        <style>
          body {
  background: #F4C397;
  color: white;
}
        </style>

        <div class="container-fluid">
          <div class="accordion" id="accordionExample">
            <!-- Accordion items will be dynamically added/removed here -->
          </div>
        </div>
        <script src="/js/favourites.js"></script>
        <script src="/JS/background.js"></script>

        <%- include("templates/footer") %>