<%- include("templates/header") %>
<link rel="stylesheet" href="/styles/forgotpassword.css">

  <div class="container">
    <div class="sub-container">
      <div id="title">FORGOT YOUR PASSWORD?</div>
      <form class="submit-container" action="/forgot-password" method="post">
        <p>Please enter your email to reset your password.</p>
        <input id="email" type="email" name="email" placeholder="Email" required>
        <!-- <div class="line-container">
          <div id="line"></div>
        </div> -->
        <div class="button-container">
          <button onclick="window.location.href='login'" id="cancel" type="submit">Cancel</button>
          <button id="send" type="submit">Send</button>
        </div>
        <% if (message) { %>
          <p class="message">
            <%= message %>
          </p>
          <% }%>
      </form>
    </div>
  </div>
  <script src="/JS/background.js"></script>

</body>

</html>