<%- include("templates/header") %>
<!--Google Fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Pridi:wght@200&display=swap" rel="stylesheet"/>   

<!--CSS Stylesheets-->
<link rel="stylesheet" href="/styles/index.css" />
<link rel="stylesheet" href="/styles/forgotpassword.css">

  <div class="container">
    <div class="sub-container">
      <div id="title" class="title">FORGOT YOUR PASSWORD?</div>
      <form class="submit-container" action="/forgot-password" method="post">
        <p class="content">Please enter your email to reset your password.</p>
        <input id="email" class="content" type="email" name="email" placeholder="Email" required>
        <!-- <div class="line-container">
          <div id="line"></div>
        </div> -->
        <div class="button-container">
          <button onclick="window.location.href='login'" class="content" id="cancel" type="submit">Cancel</button>
          <button id="send" type="submit" class="content">Send</button>
        </div>
        <% if (message) { %>
          <p class="message content">
            <%= message %>
          </p>
          <% }%>
      </form>
    </div>
  </div>
  <script src="/JS/background.js"></script>

</body>

</html>