<%- include("templates/header") %>
<main class="form-signin w-100 m-auto">
  <h1 class="h3 mb-3 fw-normal">Forgot Password</h1>
  <form class="row g-3" method="post" action="/forgot-password">
    <div class="col-md-6">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" name="email">
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
  <button class="btn btn-secondary btn-sm mt-3" type="button" onclick="window.location.href='/login'">Back to Log in</button>
</main>
<%- include("templates/footer") %>
