<%- include("templates/header") %>
    <main class="form-signin w-100 m-auto">
      <h1>Forgot Password</h1>
      <form method="post" action="/forgot-password">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        <button type="submit">Submit</button>
      </form>
        <button class="w-100 btn btn-lg btn-secondary" type="submit" onclick="window.location.href='/login'">Back to Log in</button>
      </main>
<%- include("templates/footer") %> 