<%- include("templates/header") %>
    <h1>Welcome</h1>
    <button class="btn btn-primary rounded-pill px-3" type="button" onclick="window.location.href='/login'">Login</button>
    <button class="btn btn-info rounded-pill px-3" type="button" onclick="window.location.href='/signup'">Signup</button>
<%- include("templates/footer") %>