<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TLDR</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pridi:wght@200&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/3d.css" />
  </head>

  <body>
    <div class="info-section">
      <div class="container">
        <!--Logo, Earth and Get Started buutton-->
        <div id="logo-container">
          <div class="box up"></div>
          <div class="box down"></div>
          <div class="box left"></div>
          <div class="box right"></div>
          <div class="flex-container">
            <img id="logo" src="./logo_images/white-font.png" />
            <div id="earth-container"></div>
            <div class="members">
              <% if (req.session.authenticated) { %>
              <button
                onclick="window.location.href='chatbot'"
                class="members-button"
                id="signup"
              >
                GET STARTED
              </button>
              <% } else { %>
              <button
                onclick="window.location.href='login'"
                class="members-button"
                id="signup"
              >
                GET STARTED
              </button>
              <% } %>
              <div class="scroll-down content-dark" data-aos="fade-in">Scroll Down</div>
            </div>
          </div>
        </div>
      </div>
      <!--Homepage Content-->
      <div class="animation-container">
        <div class="text-container">
          <div class="overlay" data-aos="fade-down">
            <img id="airportPic" src="rsz_airport.jpg" alt="Airport picture" />
            <div class="overlay-text">
              <h2 class="main-title">What Is TLDR?</h2>
            </div>
          </div>
            </div>
          </div>
          <!--Airline Logos Slider-->
          <div id="airlines-title" class="title" data-aos="fade-in">
            Supported Airlines
          </div>
          <div id="airlines" data-aos="fade-in">
            <img src="./airlinelogos/Air Canada.png" />
            <img src="./airlinelogos/airtransat.jpeg" />
            <img src="./airlinelogos/Sunwing_Airlines-Logo.wine.png" />
            <img src="./airlinelogos/Flair_Airlines-Logo.wine.png" />
            <img src="./airlinelogos/porterlogo.png" />
            <img src="./airlinelogos/westjet.png" />
            <img src="./airlinelogos/American-Airlines-logo.png" />
            <img src="./airlinelogos/Allegiant-Air-logo-500x281.png" />
            <img src="./airlinelogos/Alaska-Airlines-Logo-700x394.png" />
            <img src="./airlinelogos/Delta-Logo-700x394.png" />
            <img src="./airlinelogos/Southwest-Airlines-Logo-700x394.png" />
            <img src="./airlinelogos/Spirit-Airlines-logo-500x281.png" />
            <img src="./airlinelogos/hawaiian-airlines-vector-logo.png" />
            <img src="./airlinelogos/JetBlue-Logo_Blue.png" />
            <img src="./airlinelogos/united-airline-logos-2.png" />
          </div>
           <!--Card Content-->
            <!--Problem Card-->
            <div class="card-container">
              <div class="card mb-3 custom-card1" style="max-width: 1400px; margin-bottom: 3em" data-aos="fade-in">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="airportlineup1.jpg" class="img-fluid rounded-start card-img" alt="..." data-aos="fade-left">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title title">The Problem</h5>
                      <p class="card-text content">Airline policies and passenger rights are often confusing and
                        difficult to comprehend, resulting in passengers being unaware of
                        their rights and missing out on compensation they're entitled to.
                        The process of claiming compensation can also be time-consuming
                        and confusing due to complicated forms.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!--Solution Card-->
              <div class="card mb-3 custom-card" style="max-width: 1400px; margin-bottom: 3em" data-aos="fade-right">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="happyairport.jpg" class="img-fluid rounded-start card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title title-dark">The Solution</h5>
                      <p class="card-text content-dark">
                        TLDR's AI-powered chatbot specializes in airline policy, 
                        government regulations on air travel, and passenger rights. 
                        It assists users in navigating the complex world of airline 
                        policies, enabling them to make informed decisions and understand
                        their rights in case of delays, cancellations, or other issues</p>
                    </div>
                  </div>
                </div>
              </div>
              <!--Features Card-->
              <div class="card mb-3 custom-card1" style="max-width: 1400px; margin-bottom: 3em" data-aos="fade-left">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="mockup.png" class="img-fluid rounded-start  card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title title">Key Features</h5>
                      <p class="card-text">
                        <ul class="content">
                          <li>AI-powered policy summarization simplifies complex 
                            policies into easily digestible summaries</li>
                        
                          <li>Comprehensive policy referencing covers both airline 
                            and government policies for complete information.</li>
                        
                          <li>Interactive chatbot assistance provides personalized 
                            guidance for specific situations and concerns.</li>
                        
                          <li>Streamlined form-filling facilitates the form-filling 
                              process to ensure rightful compensation.</li>
                        
                          <li>Policy comparison enables easy comparison of different 
                              airlines' policies for informed decision-making.</li>
                        </ul>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!--Conclusion Card-->
              <div class="card mb-3 custom-card" style="max-width: 1400px;" data-aos="fade-up">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="conclusion.jpg" class="img-fluid rounded-start card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title title-dark">Our Goal</h5>
                      <p class="card-text content-dark">We strive to empower passengers by equiping them with the 
                        necessary knowledge and tools to comprehend intricate airline policies 
                        and passenger rights. Through our AI-powered chatbot and form-filling 
                        assistance, we strive to facilitate users in navigating air travel with
                        confidence and convenience, streamlining the processs of claiming 
                        compensation. TLDR is spearheading a revolutionary shift in how individuals
                        interact with airline policies and assert their rightful entitlement to 
                        compensation.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <script src="/JS/background.js"></script>
    <script type="module" src="/JS/3d.js"></script>
    <script src="/JS/scrollAnimations.js" defer></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>