<%- include("templates/header") %>
<!--Google Fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Pridi:wght@200&display=swap" rel="stylesheet"/>   

<!--CSS Stylesheet-->
<link rel="stylesheet" href="/styles/index.css" />

<header>
  <label class="switch">
      <input type="checkbox" id="darkModeToggle">
      <span class="slider round"></span>
  </label>
</header>
    <main class="form-signin w-100 m-auto">
        <form action='/reset-password' method='post'>
          <h1 class="h3 mb-3 fw-normal content">Reset Password</h1>
           
          <div class="form-floating">
            <input type="hidden" name="token" class="content" value="<%= token %>">
            <input type="password" name="password" class="form-control content" id="password" name="password">
            <label for="password">New password:</label>
          </div>
      
          <button class="w-100 btn btn-lg btn-primary content" type="submit">Submit</button>
        </form>
      </main>
      <script src="/JS/background.js"></script>


<%- include("templates/footer") %> 