<%- include("templates/header") %>
    <main class="form-signin w-100 m-auto">
        <form action='/reset-password' method='post'>
          <h1 class="h3 mb-3 fw-normal">Reset Password</h1>
           
          <div class="form-floating">
            <input type="hidden" name="token" value="<%= token %>">
            <input type="password" name="password" class="form-control" id="password" name="password">
            <label for="password">New password:</label>
          </div>
      
          <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
        </form>
      </main>

<%- include("templates/footer") %> 