<%- include("templates/header") %>
<link rel="stylesheet" href="/styles/reset-password.css">
      <div class="container">
        <div class="sub-container">
          <div id="title">RESET PASSWORD</div>
          <form class="submit-container" action='/reset-password' method='post'>
            <div id="form-container">
              <input type="hidden" name="token" value="<%= token %>">
              <input id="password" type="password" name="password" placeholder="Enter new password" required>
            </div>
            <div class="button-container">
              <button onclick="window.location.href='login'" id="cancel" type="submit">Cancel</button>
              <button id="submit">Submit Password</button>
            </div>
            <% if (message != ' ') { %>
              <div class="message">
                <%= message %>
                <br>
              <button onclick="window.location.href='login'" id="login" type="submit">Login</button>
              </div>
            <% }%>
          </form>
        </div>
      </div>
      <script src="/JS/background.js"></script>

</body>
</html>