<%- include('templates/header') %>
<link rel="stylesheet" href="/styles/signup-error.css">

    <div class="container mt-5">
        <div class="row">
        <div class="col">
            <h1 class="text-center"><%= errorMsg %></h1>
            <button id="backTo-Signup" onclick="window.location.href='signup'">Back to sign up</button>
        </div>
        </div>
    </div>
    </body>
</html>