body {
  background: #F4C397;
  overflow-x: hidden;
}

.box {
  position: absolute;
  width: 25%;
  /* border: 2px solid black; */
  z-index: 2;
}

.up {
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  border-top: none;
}

.down {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  border-bottom: none;
}

.left {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 100%;
  padding-left: 10%;
  border-left: none;
}

.right {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 70%;
  height: 100%;
  padding-right: 10%;
  border-right: none;
}

.scroll-down {
  z-index: 2;
}

#logo {
  z-index: 2;
}

#airportPic {
    width: 100%;
    opacity: 0.5;
  }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0%;
}

.members {
  display: flex;
  flex-direction: column;
  margin: 100px;
}

.members-button {
  cursor: pointer;
  background: #627264;
  margin: 30px;
  border-radius: 6px;
  width: 200px;
  height: 50px;
  z-index: 2;
  border: none;
  /* box-shadow: 3px 5px rgb(194, 126, 1); */
}

.members-button:hover {
  background: #c57b57;
  transform: scale(1.02);
  transition: all 0.5s ease;
}

.members-button:active {
  transform: translate(0px, 10px);
  -webkit-transform: translate(0px, 10px);
  box-shadow: 0px 1px 0px 0px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: auto;
  margin-top: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a7dcf5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #041c32;
}

input:focus + .slider {
  box-shadow: 0 0 1px #a7dcf5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Custom scroll bar styles */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #627264;
  /* Match the chat container background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #7b917d;
  /* Match the theme highlight color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c57b57;
  /* Darken the color on hover */
}

.flex-container img {
  width: 175px;
  margin-bottom: 20px;
  padding-bottom: 0;
}

.members {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.scroll-down {
  margin-top: 0px;
  margin: 0 auto;
  color: grey;
  opacity: 0.5;
}

/*Animations*/
canvas {
  display: block;
  position: relative;
  background-color: transparent;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#earth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25vh;
  margin: 0;
  padding: 0;
  z-index: 1;
}

/*                                       */
/* Landing Page Titles and Content Boxes */
/*                                       */


.overlay {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .overlay img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
  }


/*TEXT-CONTAINER CONTENT*/
.text-container {
  width: 100%;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Centered, large typography */
.title {
    font-size: 3em;
    text-align: center;
    font-family: Arial, sans-serif;  /* Adjust as necessary */
    color: #333;  /* Adjust as necessary */
}

#title-header {
  width: 70%;
  border-radius: 5px;
  position: absolute;
  left: 5%;
  top: 5%;
  z-index: 1;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 50px;
}

#title-content {
    width: 95%;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 20px; /* Add margin to create space */
    padding-top: 0px;
    left: 5%;
  }
  

/*AIRLINES SLIDER*/
#airlines {
  display: flex;
  height: auto;
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 5vh;
}

#airlines img {
  height: 100px;
  width: 100px;
  float: left;
  background: white;
}

.animation-container {
  width: 100%;
}

/* White, spaced-out content boxes with drop-shadow effect */
.content-box {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

/* Landing Page Text styling */

/*Text*/
.content {
    color: white;
    font-size: 12px;
    font-family: "Pridi", serif;
    text-align: center; /* Center the paragraphs */
  }
  
  /*Titles*/
/*Titles*/
.title {
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px; /* Increase the font size for HUGE headings */
    text-align: center; /* Center the titles */
  }
  


/* Tablets and small laptops (1024px and below) */
@media only screen and (max-width: 1024px) {
    .info-section {
      padding: 2em;
    }
    
    .text-container {
      width: 100%;
    }
    
    #title-header {
      font-size: 40px;
    }
    
    #title-content {
      font-size: 18px;
    }
    
    .title {
      font-size: 35px;
    }
    
    .content {
      font-size: 16px;
    }

    #airlines {
        width: 90%;
      }
  

  }
  
  /* Mobile devices (768px and below) */
  @media only screen and (max-width: 768px) {
    .info-section {
      padding: 1em;
    }
  
    .text-container {
      width: 100%;
    }
    
    #title-header {
      font-size: 30px;
    }
    
    #title-content {
      font-size: 16px;
    }
    
    .title {
      font-size: 25px;
    }
    
    .content {
      font-size: 14px;
    }
    
  
  }
  