body {
    background: linear-gradient(-45deg, #90e0ef, #00b4d8, #caf0f8, #00b4d8);
    background-size: 400% 500%;
    animation: gradient 10s ease infinite;
    overflow-x: hidden;
}

.dark-mode {
    background: linear-gradient(-45deg, #003566, #001d3d, #003566, #003566);
    background-size: 400% 500%;
    animation: gradient 10s ease infinite;
}

.scrollable-container {
    max-height: 500px; /* Set the maximum height of the container */
    overflow-y: scroll; /* Enable vertical scrolling */
}

@keyframes gradient {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
}

.members {
    display: flex;
    flex-direction: column;
    margin: 100px;
}

#TLDR {
    margin: 100px;
    font-size: 100px;
}

.members-button {
    cursor: pointer;
    background: #1682e7;
    margin: 30px;
    border-radius: 6px;
    width: 200px;
    height: 50px;
    z-index: 2;
    border: none;
    /* box-shadow: 3px 5px rgb(194, 126, 1); */
}


.wrightIntel {
    z-index: 2;
  }

.members-button:hover {
    background: #90e0ef;
    transform: scale(1.02);
    transition: all 0.5s ease;
}

.members-button:active {
    transform: translate(0px, 10px);
    -webkit-transform: translate(0px, 10px);
    box-shadow: 0px 1px 0px 0px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: auto;
    margin-top: 10px;}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a7dcf5;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #041C32;
}

input:focus+.slider {
    box-shadow: 0 0 1px #a7dcf5;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);

}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Custom scroll bar styles */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #146C94;
    /* Match the chat container background */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #90e0ef;
    /* Match the theme highlight color */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1682e7;
    /* Darken the color on hover */
}