body {
    background: #F4C397;
    color: white;
}

.edit-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 48%;
    padding-top: 10%;
}

.profile {
    color: white;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    /* padding: 10px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sub-profile {
    display: flex;
    flex-direction: row;
}

.image-display {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: 50px;
    border-radius: 100%;
    overflow: hidden;
}

#upload-image {
    display: none;
}

#profile-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    object-fit: cover;
}

.card-header {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}

#edit-button {
    position: relative;
    margin-bottom: 10px;
    top: 0;
    right: 0;
    width: 250px;
    height: 40px;
    border-radius: 6px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    background-color: #627264;
    border: none;
    /* border: 0.5px solid black; */
}

#edit-button:hover {
    background-color: #c57b57;
    transform: scale(1.02);
    transition: all 0.5s ease;
}

#username {
    /* text-align: left; */
    padding-bottom: 20px;
}

#email {
    margin-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#phoneNum {
    margin-bottom: 60px;
    padding-right: 100px;
}

.info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 80%;
    padding-top: 30%;
}

#usernameInput,
#emailInput,
#phoneNumInput {
    margin-bottom: 30px;
}

#profileImageTitle {
    text-align: center;
}

.profile-image {
    cursor: pointer;
    margin: 0 auto;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-image:hover {
    background-color: #c57b57;
    transform: scale(1.02);
    transition: all 0.5s ease;
}

#save-button {
    /* cursor: pointer; */
    background-color: #c57b57;
    margin: 0 auto;
    color: white;
    /* margin: 30px; */
    border-radius: 6px;
    /* width: 200px;
    height: 50px; */
    /* font-size: large; */
    /* margin-bottom: 10px; */
    width: 100px;
    height: 30px;
    border: none;
    /* box-shadow: 3px 5px rgb(194, 126, 1); */
}

#save-button:hover {
    background: #627264;
    transform: scale(1.02);
    transition: all 0.5s ease;
}

#save-button:active {
    transform: translate(0px, 10px);
    -webkit-transform: translate(0px, 10px);
    box-shadow: 0px 1px 0px 0px;
}

.modal-header {
    background: #627264 !important;
}

.modal-footer {
    background: #627264 !important;
}

.modal-body {
    background: #627264 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

#line {
    width: 400px;
    height: 47px;
    border-bottom: 1px solid white;
    margin-bottom: 15px;
}

input {
    width: 50%;
    padding: 10px;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;
}

input:hover {
    background: #c57b57;
    transform: scale(1.02);
    transition: all 0.5s ease;
}

input:focus {
    background-color: #ddd;
    outline: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: auto;
    margin-top: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a7dcf5;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #041C32;
}

input:focus+.slider {
    box-shadow: 0 0 1px #a7dcf5;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);

}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Custom scroll bar styles */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #627264;
    /* Match the chat container background */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #7b917d;
    /* Match the theme highlight color */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c57b57;
    /* Darken the color on hover */
}

@media screen and (max-width: 1300px) {

    .modal-dialog-scrollable .modal-content {
        max-height: 90% !important;
        overflow: hidden;
    }
    
    .profile {
        /* margin-top: 8%; */
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
        /* padding-bottom: 10px; */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .sub-profile {
        display: flex;
        flex-direction: column;
    }

    .image-display {
        border: 1px solid black;
        width: 200px;
        height: 200px;
        margin: 20px;
        margin-top: 40px;
        border-radius: 100%;
        overflow: hidden;
    }

    .card-header {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    label {
        margin-left: 20px;
    }

    .info {
        width: 100%;
        margin: 0 auto;
        padding: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #profileImageTitle {
        padding-right: 50px;
    }

    .profile-image-container {
        padding-left: 60px;
        align-items: center;
    }

    .profile-image {
        width: 150px;
        height: 150px;
    }

    #line {
        width: 400px;
        height: 47px;
        border-bottom: 1px solid white;
        margin-bottom: 15px;
    }

    .edit-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0%;
    }

    #edit-button {
        position: relative;
        margin-bottom: 30px;
        width: 250px;
        height: 40px;
        border-radius: 6px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #627264;
        border: none;
        /* border: 0.5px solid black; */
    }

    #username {
        margin: 0 auto;
        /* padding-bottom: 20px; */
    }

    #email {
        /* margin-top: 40px; */
        text-align: center;
        padding-bottom: 0%;
    }

    #phoneNum {
        /* margin-top: 20px; */
        margin-bottom: 60px;
        padding-right: 0%;
    }

}